Construa o DataFrame abaixo.

https://prnt.sc/oKV04IPZkknB

In [1]:
import pandas as pd

In [5]:
data  = pd.date_range(start='2021-1-1', end = '2021-12-27', freq= '15D')
df = pd.DataFrame(data, columns=['Data'])
df['Dia do Ano'] = data.dayofyear
df['Mês do Ano'] = data.month
df

         Data  Dia do Ano  Mês do Ano
0  2021-01-01           1           1
1  2021-01-16          16           1
2  2021-01-31          31           1
3  2021-02-15          46           2
4  2021-03-02          61           3
5  2021-03-17          76           3
6  2021-04-01          91           4
7  2021-04-16         106           4
8  2021-05-01         121           5
9  2021-05-16         136           5
10 2021-05-31         151           5
11 2021-06-15         166           6
12 2021-06-30         181           6
13 2021-07-15         196           7
14 2021-07-30         211           7
15 2021-08-14         226           8
16 2021-08-29         241           8
17 2021-09-13         256           9
18 2021-09-28         271           9
19 2021-10-13         286          10
20 2021-10-28         301          10
21 2021-11-12         316          11
22 2021-11-27         331          11
23 2021-12-12         346          12
24 2021-12-27         361          12