Com base no dataset anterior obtenha:

estatísticas descritivas de cada coluna;

informações do dataset;

matriz de correlação (use df.corr);

matriz de covariância (use df.cov).

In [1]:
import pandas as pd
import numpy as np

In [2]:
n = 1096 #total de observações   ou n = data.shape[0]
dados = {
    'A': np.random.randint(low = 1, high = 1500, size = n),
    'B': np.random.normal(loc = 10, scale = 2, size = n),
    'C': np.random.uniform(low = 0, high = 1, size = n),
    'D': np.random.lognormal(mean = 4, sigma = 5, size = n),
    'E': np.random.standard_normal(size = n)}

data = pd.date_range(start ='2018-1-1', end ='2020-12-31')
df = pd.DataFrame(data = dados, index = data, columns = ['A', 'B', 'C', 'D', 'E'])
df

               A          B         C             D         E
2018-01-01    74   9.862141  0.570198      0.964945  0.644336
2018-01-02  1471  10.782111  0.346185     14.263668  0.319191
2018-01-03  1039   9.287831  0.612813    975.023441 -0.172775
2018-01-04   191  12.936483  0.536547      0.678317  0.710107
2018-01-05   748   8.804609  0.590064     13.589686 -0.145451
...          ...        ...       ...           ...       ...
2020-12-27   921  10.368248  0.355945    440.124261  0.936475
2020-12-28   793   9.469275  0.266227  12737.004710  0.165208
2020-12-29    69   9.118955  0.923177   3799.895017  0.561798
2020-12-30  1405  10.802820  0.626404   9429.889921 -1.762144
2020-12-31   946  11.383401  0.400401      8.765914  0.901234

[1096 rows x 5 columns]

In [4]:
#A)
df.describe().T

,count,mean,std,min,25%,50%,75%,max
A,1096.0,752.146898,4.321413e+02,2.000000,373.750000,766.000000,1114.250000,1.499000e+03
B,1096.0,10.077032,1.993186e+00,4.273474,8.719887,10.145274,11.409145,1.725628e+01
C,1096.0,0.493884,2.893785e-01,0.000145,0.245004,0.490087,0.756421,9.995470e-01
D,1096.0,796220.710079,2.070352e+07,0.000007,1.497857,44.924999,1105.763658,6.816143e+08
E,1096.0,-0.011191,1.023023e+00,-3.473576,-0.737965,0.030327,0.656291,3.414002e+00

In [5]:
#B)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1096 entries, 2018-01-01 to 2020-12-31
Freq: D
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       1096 non-null   int32
 1   B       1096 non-null   float64
 2   C       1096 non-null   float64
 3   D       1096 non-null   float64
 4   E       1096 non-null   float64
dtypes: float64(4), int32(1)
memory usage: 47.1 KB

In [6]:
#C)
df.corr()

          A         B         C         D         E
A  1.000000  0.029523 -0.006140  0.036492 -0.018437
B  0.029523  1.000000  0.011784 -0.041622 -0.034010
C -0.006140  0.011784  1.000000 -0.029945  0.064265
D  0.036492 -0.041622 -0.029945  1.000000 -0.021735
E -0.018437 -0.034010  0.064265 -0.021735  1.000000

In [7]:
#D)
df.cov

<bound method DataFrame.cov of                A          B         C             D         E
2018-01-01    74   9.862141  0.570198      0.964945  0.644336
2018-01-02  1471  10.782111  0.346185     14.263668  0.319191
2018-01-03  1039   9.287831  0.612813    975.023441 -0.172775
2018-01-04   191  12.936483  0.536547      0.678317  0.710107
2018-01-05   748   8.804609  0.590064     13.589686 -0.145451
...          ...        ...       ...           ...       ...
2020-12-27   921  10.368248  0.355945    440.124261  0.936475
2020-12-28   793   9.469275  0.266227  12737.004710  0.165208
2020-12-29    69   9.118955  0.923177   3799.895017  0.561798
2020-12-30  1405  10.802820  0.626404   9429.889921 -1.762144
2020-12-31   946  11.383401  0.400401      8.765914  0.901234

[1096 rows x 5 columns]>