Ordene o DataFrame abaixo pelo Ã­ndice.



https://prnt.sc/lpq3UGSTMVxK

In [2]:
import pandas as pd
import numpy as np
dias = pd.date_range(start = '2020-1-1', periods = 10).to_numpy()
np.random.shuffle(dias)
df = pd.DataFrame(
    data = np.random.normal(10,3.5,(10,3)),
    columns = list('ABC'),
    index = dias)

df

                    A          B          C
2020-01-01  13.613875  10.046053   6.357443
2020-01-08   8.918402   8.461724   6.799554
2020-01-02  14.928891  12.927974  10.806248
2020-01-04   7.669480   7.634639  11.966944
2020-01-09  12.963524   9.931009  12.370219
2020-01-06   8.140927  13.503740   4.940880
2020-01-10  10.426322  12.752830  11.289775
2020-01-07   9.499465   7.730760  12.147059
2020-01-03   8.010460  11.999652  12.070592
2020-01-05  16.698896  14.036935   3.396643

In [3]:
df.sort_index()

                    A          B          C
2020-01-01  13.613875  10.046053   6.357443
2020-01-02  14.928891  12.927974  10.806248
2020-01-03   8.010460  11.999652  12.070592
2020-01-04   7.669480   7.634639  11.966944
2020-01-05  16.698896  14.036935   3.396643
2020-01-06   8.140927  13.503740   4.940880
2020-01-07   9.499465   7.730760  12.147059
2020-01-08   8.918402   8.461724   6.799554
2020-01-09  12.963524   9.931009  12.370219
2020-01-10  10.426322  12.752830  11.289775